/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/
/* 
Requirements

Create a new favicon that better represents the page as you've designed it.
add a homescreen icon for iOS and Android devices so when they save the page to their homescreen they get a custom icon 
that matches the favicon you designed.

*/

/*
Base shades
http://colorschemedesigner.com/csd-3.5/#3p61TtUOXw0w0
*/
html { 
  background: url(../img/monkaa_monkeyhang.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-color:rgb(120,208,237);
}

body {
	width:800px;
	margin:auto;
	background:#78D0ED;
	background: linear-gradient(to right, rgba(120,208,237,1), rgba(120,208,237,.0));
	font-family: 'Bowlby One';
	color:#A65805;
	
	
}

header {
	text-align: center;
	color:#48F282;
	
	
}


h1 img{
	width: 100%; 
	margin-bottom: -25px;
	
	
	
}


.subtitle{
	margin:0;
	font-size:145%;
	
	line-height: 30px;
	 text-shadow: 0 3px 3px #000,
		 			0 5px 5px #000;
				
}
.main-nav {
	
	margin: 0;
	padding:0;
	
}
.main-nav li {
	display: inline;
	padding: 10px;
}

#social{
	
	width:200px;
	height:0;
	background: url(../img/monkey_crystal_tail.jpg);
	background-repeat: no-repeat;
	background-position:bottom;
	background-size:200px;
	
	position:fixed;
	
	text-align:center;
	margin-left: 600px; 
}
#social:hover {
	height:175px;	
}
#social img{
	width:45px;
	opacity:.50;
	padding:0;
	margin-left:3px;
	margin-right:3px;	
}
#social ul {
	padding:0;
	margin:0;
}
#social li {
	display:inline;
}

#social img:hover {
	width:55px;
	opacity:1;
	padding:0;
	margin-left:3px;
	margin-right:3px;	
}
#watch {
 text-align:center;
}

#listen {
	 text-align:center;
}

#about{
	 text-align:center;
}
.padding-cont {
	padding-right:200px;
}
h2{
	margin:0;
	background:#3589A4; 
	background: radial-gradient(ellipse at center,rgba(53,137,164,1), rgba(53,137,164,.0));
	 color:#076D8E;
    font-size:3em;
    text-align:center;
    text-shadow: 0 3px 3px #78D0ED; 
	
}

.lead {
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	font-family: 'Lemon';
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 600;
	line-height: 30px;
	color:#A65805;
	background:#0FE558;
	background: linear-gradient(180deg, rgba(118, 242, 164, 1), rgba(15, 229, 88, .0));
}

.weybec-people {
	text-align: center;
}
.weybec-people li {
	height:175px;
	width:150px;
	
	color:blueviolet;
	display:inline-block;
	
}
.headshot_ps {
	background: url("../img/weybec/pratik_solanki.gif");
	background-size: 125px;
    background-repeat: no-repeat;
	background-position: bottom;
}
.headshot_nr {
	background: url("../img/weybec/Nita-ravalji1.gif");
	background-size: 125px;
	margin-left:20px;
	margin-right:20px;
    background-repeat: no-repeat;
	background-position: bottom;
}
.headshot_np {
	background: url("../img/weybec/niyal_parmar.gif");
	background-size: 125px;
    background-repeat: no-repeat;
	background-position: bottom;
}
.weybec-people {
	padding:0;
}

.download-button img{
	width:50px;
	opacity:.75;
}
footer {
  height: 250px;

  position: relative;
  padding: 20px;
}

#video-container {
	position: absolute;
}
#video-container {
	top:0;
	left:0;
	height:95%;
	width:100%;
	overflow: hidden;
}
.footer-video {
	position:absolute;
	top:-100px;
	padding-bottom:100px;
}
.fillWidth {
	width: 100%;
}

#text-container {
	padding-top:0;
   	position:absolute;
    top:0;
    left:0;
    z-index:1;
	text-align:center;
	font-family: 'Lemon';
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 35px;
	color:#00FF56;
	text-shadow: 0 4px 3px rgba(0,0,0,1),
             	0 8px 13px rgba(0,0,0,0.4),
            	 0 18px 23px rgba(0,0,0,0.4);
	
}

#text-container p {
	margin:10px;
}